body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.text-muted {
    background-color:#c9a959;
}

header {
    flex: 0 100px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    padding-left: 0.5em;
    font-size: 30px !important;
    color: #c9a959;
}

main {
    display: flex;
    flex-direction: row;
}

.display {
    padding-left: 1.5em;
    padding-right: 1.5em;
    flex: 1;
}

.account {
    padding-left: 1.5em;
    padding-right: 1.5em;
    flex: 1;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    outline: none !important;
    background-color:#000035 !important;
}

.btn-primary:hover {
    background-color:#000020 !important;
}

label {
    color:#000035;
}





@media (orientation: portrait) {
    main {
      flex-direction: column;
    }
}